#!/bin/bash

# compositor - for transparent coolness
# xcompmgr &
picom -b --config="$HOME/.config/picom/picom.conf"

# wal will do this for us with the correct wallpaper
# nitrogen --restore

# wal for the colour theme
wal -R

