@theme "fancy"

@import "~/.cache/wal/colors-rofi-dark"

configuration {
	show-icons: true;
	display-window: "👁Workspaces";
	display-drun: "🖥Apps";
	display-filebrowser: "📂Files";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

listview {
	lines: 10;
}

window {
	transparency: "real";
}

mainbox {
	background-color: transparent;
	children: [ "inputbar", "message", "listview", "mode-switcher" ];
}

entry {
	placeholder: "Search...";
	padding: 5px;
}

element {
	padding: 4px;
}

element-text {
	font: "OpenSans 12";
}
