@theme "arthur"
@import "~/.cache/wal/colors-rofi-dark"

configuration {
    show-icons: false;
}

listview { 
    lines: 6;
    scrollbar:false;
}

window {
    width:25%;
}

prompt {
    enabled: false;
}

textbox-prompt-colon {
    enabled:false;
}

entry {
    placeholder:"";
    font: "OpenSans 16";
}

button {
    enabled:false;
}

element-text {
    font: "OpenSans 16";
}